.comments_div {
	border: 1px solid #AAAAAA;
	border-radius: 5px;
	padding: 3px 3px 3px 3px;
	clear:both;
}
.comments_div .comments_headline {
	font-family: "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
	font-size: 16px;
	text-decoration: underline;
}
.comments_div #comments_sec {
	padding-left: 10px;
}
.comments_div .comment {
	display: block;
	margin: 5px 5px 0px 0px;
	padding-bottom: 5px;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	box-shadow: 2px 2px 5px #888;
}
.comments_div .comment_msg {
	margin: 5px 0px 0px 40px;
	font-size: 14px;
}
.comments_div .comment_msg > a {
	color: black;
	text-decoration:none;
	border-bottom: 1px dotted #B2C1C9;
}
.comments_div .comment_msg > a > span {
	opacity:0.5;
	margin-left: 2px;
}
.comments_div .comment_msg > div {
margin-top: 5px;
}
.comments_div .comment_msg .anwser_link {
	float: right;
	margin: 1px 5px 0px 3px;
	visibility:hidden;
	opacity:0.5;
}
.comments_div .comment:hover > .comment_msg .anwser_link {
	visibility:visible;
}
.comments_div .anwser_link:hover {
	opacity:1;
}
.comments_div .comment_box {
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 5px;
}
.comments_div .comment_box div {
	margin-left: 40px;
}
.comments_div .comment_box textarea {
	border: 1px solid #C0C0C0;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px #888888 inset;
	width: 98%;
	padding: 5px;
	margin-top: 5px;
	font-family: "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
}
.comments_div .submit_comment_news {
	margin: 3px 2px 2px 0px;
}
