<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>{$title}</title>
		<link type="text/css" rel="stylesheet" href="templates/clean/templates/main.css">
		<link type="text/css" rel="stylesheet" href="templates/clean/templates/user.css">
		<link type="text/css" rel="stylesheet" href="templates/clean/templates/shoutbox.css">
		<link type="text/css" rel="stylesheet" href="templates/clean/templates/news.css">
		<link type="text/css" rel="stylesheet" href="templates/clean/templates/forum.css">
		<meta content="text/html" http-equiv="content-type">
		<meta charset="utf-8">
		<link type="text/css" href="templates/clean/script/ui/themes/smoothness/jquery-ui-1.8.5.custom.css" rel="Stylesheet" />	
		<script type="text/javascript" src="templates/clean/script/js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="templates/clean/script/js/jquery-ui-1.8.5.custom.min.js"></script>
		{if $FB}<script type="text/javascript" src="http://connect.facebook.net/de_DE/all.js#xfbml=1"></script>{/if}
		<script type="text/javascript" src="templates/clean/script/header.js"></script>
		{if $LOGIN}
		<script type="text/javascript" src="templates/clean/script/shoutbox.js"></script>
		<script type="text/javascript" src="templates/clean/script/forum.js"></script>{/if}
	</head>
	<body>
		<img class="footer" src="./templates/clean/images/swFooter_1280.png" alt="" />
		{if $FB}<div id="fb-root"></div>{/if}
		<div id="box"></div>
		<table id="body" cellpadding="0" cellspacing="0">
			<tr class="header">
				<td colspan="2" style="width:950px; text-align:right;">
					<a href="{$base_page}"><img src="templates/clean/images/logo.png" class="logo" alt="Logo"></a>
					<!--Menü oben-->
					<span class="user_menu">{if $LOGIN}<a id="logout_btn" href="login.php?logout=t">Logout</a> | <a id="usercp_btn" href="user">Mein Profil</a> | <a href="">Nachrichten</a>{else}<a id="login_btn" href="">Login</a> | <a id="reg_btn" href="">Registrieren</a>{/if}</span>
				</td>
				<td class="topsearch">
					<form method="get" id="top_search_form" action="search.php">
						<!--<a title="Advanced Search" class="advanced-search tooltipped downwards" href="search.php">Advanced Search</a>-->
						<input type="search" name="q" class="search my_repos_autocompleter notnative ac_input"><input type="submit" class="button" value="Search">
    				</form>
				</td>
			</tr>
			<tr class="headline">
				<td class="activeUser">{$ACTIVE_USER}</td>
				<td class="scrollNews">
					{$headspace}
				</td>
				<td></td>
			</tr>
			<tr width="100%" height="100%">
				<td id="sideFrame">
					{if $LOGIN}<h1><a href="#">Shoutbox</a></h1>
					<div class="shoutbox">
						<form action="#" method="post" id="comment_form" class="comment_box comment">
							<img class="user" src="{$user_icon}" title="Sie!" alt="" />
							<div>
								<input type="text" class="sBText" />
								<input type="submit" class="submit_comment" value="Beitrag senden!" />
							</div>
						</form>
						<ul class="shoutbox">
						</ul>
					</div>
					{/if}<h1><a href="#">Raid-Planer</a></h1>
					<div class="calendar"><div id="calendar"></div></div>
					{if $FORUM_SEC}
					{section name=forum_list loop=$FORUM_SEC}
						<h1><a href="#">{$FORUM_SEC[forum_list].title}</a></h1>
						<div class="forum">
							<ul>
								{section name=topic_list loop=$FORUM_SEC[forum_list].topics}
								<li id="topic_{$FORUM_SEC[forum_list].topics[topic_list].id}">
									<a href="{$domain}/topic-{$FORUM_SEC[forum_list].topics[topic_list].id}-{$FORUM_SEC[forum_list].topics[topic_list].cleantitle}">
										<span class="title">{$FORUM_SEC[forum_list].topics[topic_list].title}</span>
									</a>
									<!-- ToDo:User-Image -->
									<a href="user-{$FORUM_SEC[forum_list].topics[topic_list].last_poster_name}" class="poster">{$FORUM_SEC[forum_list].topics[topic_list].last_poster}</a>
									<span class="time">@ {$FORUM_SEC[forum_list].topics[topic_list].time}</span>
								</li>
								{/section}
							</ul>
							<span id="new_topic_{$FORUM_SEC[forum_list].id}" class="new_topic">Neuen Beitrag</span>
							<span id="view_forum_{$FORUM_SEC[forum_list].id}" class="view_forum"><a href="{$domain}/forum-{$FORUM_SEC[forum_list].id}-{$FORUM_SEC[forum_list].forum_cleantitle}">Alle Themen sehen</a></span>
						</div>	
					{/section}
					{/if}
					<h1 class="search"><a href="#">Suche</a></h1>
					<div class="search"></div>
				</td>
				<td id="main_box" width="950px">
