<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>{$title}</title>
		<link type="text/css" rel="stylesheet" href="templates/clean/templates/main.css">
		<meta content="text/html" http-equiv="content-type">
		<meta charset="utf-8">
		<link type="text/css" href="templates/clean/script/ui/themes/smoothness/jquery-ui-1.8.5.custom.css" rel="Stylesheet" />	
		<script type="text/javascript" src="templates/clean/script/js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="templates/clean/script/js/jquery-ui-1.8.5.custom.min.js"></script>
		<script type="text/javascript" src="templates/clean/script/header.js"></script>
		<script src="http://connect.facebook.net/de_DE/all.js#xfbml=1"></script>
	</head>
	<body>
		<div id="box"></div>
		<table id="body" cellpadding="0" cellspacing="0">
			<tr class="header">
				<td colspan="2" style="width:950px; text-align:right;">
					<a href="{$base_page}"><img src="templates/clean/images/logo.png" class="logo" alt="Logo"></a>
					<span class="user_menu">{if $LOGIN}<a id="logout_btn" href="login.php?logout=t">Logout</a>{else}<a id="login_btn" href="">Login</a> | <a id="reg_btn" href="">Registrieren</a>{/if} | <a href="">Nachrichten</a> | <a href="">Einstellungen</a></span>
				</td>
				<td class="topsearch">
					<form method="get" id="top_search_form" action="search.php">
						<!--<a title="Advanced Search" class="advanced-search tooltipped downwards" href="search.php">Advanced Search</a>-->
						<input type="search" name="q" class="search my_repos_autocompleter notnative ac_input"><input type="submit" class="button" value="Search">
    				</form>
				</td>
			</tr>
			<tr class="headline">
				<td class="main-title">{$headline}</td>
				<td width="100%">
					{$headspace}
				</td>
				<td></td>
			</tr>
			<tr width="100%" height="100%">
				<td>
					<div name="calendar" id="calendar" />
				</td>
				<td width="950px">
					