body {
	font-family:"Arial","Helvetica","Verdana","sans-serif";
	font-size:10px;
	margin:0px;
	min-height:100%;
	padding:0px;
	z-index:1;
}
@media screen and (min-height: 1051px){
	body{
		background:url("./../images/main_1080.png") repeat-x fixed center top #cccccc;
	}
}
@media screen and (min-height: 1025px) and (max-height: 1050px){
	body{
		background:url("./../images/main_1050.png") repeat-x fixed center top transparent;
	}
}
@media screen and (min-height: 769px) and (max-height: 1024px){
	body{
		background:url("./../images/main_1024.png") repeat-x fixed center top transparent;
	}
}
@media screen and (max-height: 768px){
	body{
		background:url("./../images/main_768.png") repeat-x fixed center top transparent;
	}
}
body > img.footer {
	width:100%;
	margin:0px;
	padding:0px;
	bottom:0px;
	position:fixed;
}

table#body {
	width:100%;
	height:100%;
	border:0px;
	position:relative;
}
tr.header {
	background:url('./../images/header.png') repeat-x;
	height:78px;
}
img.logo {
	opacity:0.5;
	float:left;
	border:0px;
	height:40px;
}
img.logo:hover {
	opacity:1;
}
.user_menu{
	float:right;
	margin-top:13px;
}
.user_menu a {
	opacity:0.3;
	color:#F0F0F0;
}
.user_menu a:hover{
	opacity:0.8;
}
tr.headline {
	width:100%;
	height:70px;
	background:url("./../images/header_2.jpg") repeat-x;
}
.activeUser{
	width:200px;
	height:70px;
	display:block;
	overflow-y:hidden;
}
.activeUser img{
	display: block;
	height: 23px;
	width: 23px;
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	margin: 4px 0 0 4px;
	padding: 2px;
	box-shadow: 1px 2px 4px #888;
	float: left;
}
.scrollNews {
	height:70px;
	box-shadow: 1px 1px 2px 3px #888888 inset;
}
#sideFrame {
	width:200px;
	vertical-align:top;
	position:fixed;
	padding:5px 1px 3px 3px;
	height:100%;
}
#sideFrame > div{
	width:194px;
	box-shadow: 1px 2px 1px #888;
	padding:0px;
	margin:0px;
}
#sideFrame .ui-accordion-header {
	box-shadow: 1px 2px 1px #888;
	width:194px;
}
#sideFrame .ui-accordion-content {
	top:0px;
	overflow:hidden;
}
.calendar {
	max-height:183px;
}

.topsearch {
	clear:left;
	float:left;
	margin-top:25px;
	min-width:250px;
	line-height:1.4em;
}
.topsearch form, .topsearch ul.nav {
	float:left;
}
.topsearch form input.button {
	display:none;
}
.topsearch form .advanced-search {
	background:url("./../images/advanced_search_icon.png") no-repeat scroll 0 0 transparent;
	display:inline-block;
	height:16px;
	width:16px;
	opacity:0.4;
	text-indent:-9999px;
	vertical-align:middle;
}
.topsearch form .advanced-search:hover {
	opacity:0.7;
}
.topsearch form input.search {
	background:url("./../images/search_field.gif") no-repeat scroll 0 -22px transparent;
	border:medium none;
	font-size:12px;
	height:16px;
	width:149px;
	margin-top:4px;
	margin-left:5px;
	padding:4px 10px 2px 21px;
	opacity:0.3;
}
.topsearch form input.search:hover {
	opacity:0.8;
}
.topsearch form input.search:active {
	opacity:0.9;
}
.login_btns {
	text-align:center;
}
.login_loading {
	display:none;
}
.loginfailbtns {
	text-align:center;
	margin-top:3px;
}

div#reg_box > div {
	width:80%;
	margin-left:10%;
}
div#reg_box > div > span.title {
	text-decoration:underline;
	font-weight:bold;
	font-size:1.3em;
}
div#reg_box > div > div {
	font-family: "Trebuchet MS",Verdana,Helvetica,Arial,Sans-Serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 20px;
	margin-left: 10px;
	margin-top: 10px;
}
div#reg_box > div > span.btns {
	float:right;
}

#sideFrame > .search{
	display:none;
}
