html {
	background:url("./../images/main.jpg") repeat-x fixed center top transparent;
}
body {
	font-family:"Arial","Helvetica","Verdana","sans-serif";
	font-size:10px;
	margin:0;
	min-height:100%;
	padding:0 0 20px;
}
table#body {
	width:100%;
	height:100%;
	border:0px;
}
tr.header {
	background:url('./../images/header.png') repeat-x;
}
img.logo {
	opacity:0.5;
}
img.logo:hover {
	opacity:0.8;
}
#calendar {
	bottom:30px;
	left:5px;
	vertical-align:bottom;
	position:fixed;
}

.topsearch {
	clean:left;
	float:left;
	margin-top:25px;
	min-width:250px;
	line-height:1.4em;
}
.topsearch form, .topsearch ul.nav {
	float:left;
}
.topsearch form input.button {
	display:none;
}
.topsearch form .advanced-search {
	background:url("./../images/advanced_search_icon.png") no-repeat scroll 0 0 transparent;
	display:inline-block;
	height:16px;
	width:16px;
	opacity:0.4;
	text-indent:-9999px;
	vertical-align:middle;
}
.topsearch form .advanced-search:hover {
	opacity:0.7;
}
.topsearch form input.search {
	font-size:16px;
	width:180px;
}
.topsearch form input.search.notnative {
	background:url("./../images/search_field.gif") no-repeat scroll 0 -22px transparent;
	border:medium none;
	font-size:12px;
	height:16px;
	padding:4px 10px 2px 21px;
	width:149px;
	margin-top:4px;
	opacity:0.3;
}
.topsearch form input.search.notnative:hover {
	opacity:0.8;
}
.topsearch form input.search.notnative:active {
	opacity:0.9;
}
.topsearch form input.search.notnative.placeholder {
	background-position:0 0;
}
.user_menu a {
	color:#666666;
}
.headline {
	 width:100%;
	 height:71px;
	 background:url("./../images/header_2.jpg") repeat-x;
}