@import "item_tooltip.css";
body {
	font-family:Arial,Helvetica,Verdana,Sans-Serif;
	font-size:10px;
	margin:0px;
	min-height:100%;
	padding:0px;
	z-index:1;
}
@media screen and (min-height: 1051px){
	body{
		background:url("./../images/main_1080.png") repeat-x fixed center top #cccccc;
	}
}
@media screen and (min-height: 1025px) and (max-height: 1050px){
	body{
		background:url("./../images/main_1050.png") repeat-x fixed center top transparent;
	}
}
@media screen and (min-height: 769px) and (max-height: 1024px){
	body{
		background:url("./../images/main_1024.png") repeat-x fixed center top transparent;
	}
}
@media screen and (max-height: 768px){
	body{
		background:url("./../images/main_768.png") repeat-x fixed center top transparent;
	}
}
body > img.footer {
	width:100%;
	margin:0px;
	padding:0px;
	bottom:0px;
	position:fixed;
}

table#body {
	width:100%;
	height:100%;
	border:0px;
	position:relative;
	border-spacing:0px;
}
tr.header {
	background:url('./../images/header.png') repeat-x;
	height:78px;
}
tr.header td:first-child {
	width:950px;
	text-align:right;
}
img.logo {
	opacity:0.5;
	float:left;
	border:0px;
	height:40px;
}
img.logo:hover {
	opacity:1;
}
.user_menu{
	float:right;
	margin-top:13px;
}
.user_menu a {
	opacity:0.3;
	color:#F0F0F0;
}
.user_menu a:hover{
	opacity:0.8;
}
tr.headline {
	width:100%;
	height:70px;
	background:url("./../images/header_2.jpg") repeat-x;
}
.activeUser{
	width:200px;
	height:70px;
	display:block;
	overflow-y:hidden;
}
.scrollNews {
	height:70px;
}
.headline .quick_dkp {
	background-color: #EEEEEE;
	display: block;
	height: 50px;
	max-width: 200px;
	margin: 8px;
	overflow-y: auto;
	box-shadow: 1px 1px 5px 5px #EEEEEE;
	font-family: Verdana;
	cursor: default;
}
.headline .quick_dkp div {
	font-size: 12px;
	text-decoration: underline;
}
.headline .quick_dkp ul, #activities .dkpRank ul {
	margin: 0px;
	padding: 0px;
}
.headline .quick_dkp li, #activities .dkpRank li {
	list-style-type: none;
}
.headline .quick_dkp li span, #activities .dkpRank li span {
	float: right;
}
#sideFrame {
	width:200px;
	vertical-align:top;
	position:fixed;
	padding:5px 1px 3px 3px;
	height:100%;
}
#sideFrame > div{
	box-shadow: 1px 2px 1px #888;
	padding:0px;
	margin:0px;
}
#sideFrame .ui-accordion-header {
	box-shadow: 1px 2px 1px #888;
}
#sideFrame .ui-accordion-content {
	top:0px;
	overflow:hidden;
}
#activities {
	width: 210px;
	vertical-align: top;
	position: fixed;
	padding: 5px 3px 3px 3px;
	height:100%;
}
#activities > div{
	box-shadow: 1px 2px 1px #888;
	padding:0px;
	margin:0px;
}
#activities .ui-accordion-header {
	box-shadow: 1px 2px 1px #888;
}
#activities .ui-accordion-content {
	top:0px;
	overflow:hidden;
}
#activities .dkpRank ul {
	padding: 3px 3px 5px 5px;
}
#activities .dkpRank li {
	margin: 1px 0px 0px 0px;
	font-size: 10px;
}
#activities .lastRaids ul, #activities .lastItems ul {
	margin: 0px;
	padding: 0px;
}
#activities .lastRaids li, #activities .lastItems li {
	list-style-type: none;
	height: 30px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #B2C1C9;
}
#activities .lastRaids li > a, #activities .lastItems li > a {
	border-bottom: 1px dotted #B2C1C9;
	color: black;
	display: block;
	margin-left: 37px;
	text-decoration: none;
	overflow-x: hidden;
	height: 15px;
}
#activities .lastItems li .loot_details {
	margin-left: 7px;
}
#activities .lastRaids li .raid_details {
	margin-top: 1px;
	margin-left: 37px;
	display: block;
}
#activities .lastRaids li .raid_details a {
	margin-right: 1px;
}
.calendar {
	max-height:183px;
}

.topsearch {
	clear:left;
	float:left;
	margin-top:25px;
	min-width:250px;
	line-height:1.4em;
}
.topsearch form, .topsearch ul.nav {
	float:left;
}
.topsearch form input.button {
	display:none;
}
.topsearch form .advanced-search {
	background:url("./../images/advanced_search_icon.png") no-repeat scroll 0 0 transparent;
	display:inline-block;
	height:16px;
	width:16px;
	opacity:0.4;
	text-indent:-9999px;
	vertical-align:middle;
}
.topsearch form .advanced-search:hover {
	opacity:0.7;
}
.topsearch form input.search {
	background:url("./../images/search_field.gif") no-repeat scroll 0 -22px transparent;
	border:medium none;
	font-size:12px;
	height:16px;
	width:149px;
	margin-top:4px;
	margin-left:5px;
	padding:4px 10px 2px 21px;
	opacity:0.3;
}
.topsearch form input.search:hover {
	opacity:0.8;
}
.topsearch form input.search:active {
	opacity:0.9;
}
.login_btns {
	text-align:center;
}
.login_loading {
	display:none;
}
.loginfailbtns {
	text-align:center;
	margin-top:3px;
}

div#reg_box {
	padding:0px;
}
div#reg_box > div#reg_step_1 {
	width:85%;
	margin-left:5%;
}
div#reg_box > div > span.title {
	text-decoration:underline;
	font-weight:bold;
	font-size:1.3em;
}
div#reg_box > div > div {
	font-family: "Trebuchet MS",Verdana,Helvetica,Arial,Sans-Serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 20px;
	margin-left: 10px;
	margin-top: 10px;
}
div#reg_box > div > span.btns {
	float:right;
}

#sideFrame > .search{
	display:none;
}

td#main_box {
	width:950px;
}

/*
 * BB-Codes
 */
.bb_user, .bb_char, .bb_item, .bb_race, .bb_class, .bb_skill {
	color:#000000;
	text-decoration:underline;
	padding-left:18px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 15px 15px;
	line-height: 15px;
}
div.tooltip {
	display: none;
	min-width: 200px;
	min-height: 25px;
	position: absolute;
	margin-top:-1px;
	margin-left:15px;
	padding: 5px;
	background: rgba(0,0,0,0.9);
	border-color: #CCCCCC;
	border-radius: 5px;
	box-shadow: 1px 2px 4px #888;
}
div.tooltip > span.title {
	display:block;
	color:#FFD100;
	font-size:16px;
}
div.tooltip > img{
	width:30px;
	height:30px;
	display: block;
	position:absolute;
	margin: -5px 0px 0px -42px;
	padding: 2px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	background: rgba(0,0,0,0.5);
}
img.user:hover {
	-moz-transform: rotate(-10deg) scale(1.2);
}
img.icon {
	display: block;
	height: 22px;
	width: 22px;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	margin: 3px 0px 0px 3px;
	padding: 2px;
	float:left;
	box-shadow: 1px 2px 4px #888;
}
