@import "comments.css";
.news {
	background: #FFFFFF;
	padding: 5px 3px 3px 4px;
	margin: 5px 2px 1px 2px;
	border: 1px solid #AAAAAA;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #888;
}
.news_headline, .news_headline a {
	font-family: Verdana,"Trebuchet MS",Helvetica,Arial,Sans-Serif;
	color: black;
	font-size: 1.6em;
	text-decoration: none;
}
.news_headline{
	border-bottom: 1px dotted #B2C1C9;
}
.news .news_date {
	visibility: hidden;
	color: rgba(0,0,0,0.7);
}
.news:hover .news_date {
	visibility: visible;
}
.news .fb_like {
	float:right;
	visibility: hidden;
}
.news:hover .fb_like {
	visibility: visible;
}
.news > div {
	margin:0px 5px 5px 5px;
	font-size: 14px;
    line-height: 16px;
	font-family: Verdana,"Trebuchet MS",Helvetica,Arial,sans-serif;
}
