.raidPage {
	background: #FFFFFF;
	padding: 5px 3px 3px 4px;
	margin: 5px 2px 1px 2px;
	border: 1px solid #AAAAAA;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #888;
}
.raidPage .raid_headline {
	font-size: 25px;
	font-family: "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
	margin:3px 5px 5px 40px;
	border-bottom: 1px dotted #B2C1C9;
}
.raidPage .raid_date {
	color: rgba(0,0,0,0.7);
}
.raidPage .raid_kills .boss_name {
	font-size:14px;
	margin-top:5px;
	padding-top:5px;
	border-top:1px dotted #B2C1C9;
}
.raidPage .raid_kills .boss_name span {
	font-size:8px;
	color: #909090;
	margin-left: 5px;
}
.raidPage .raid_kills {
	margin-bottom:5px;
	padding-bottom:5px;
	border-bottom:1px dotted #B2C1C9;
}
.raidPage .raid_kills .boss_details .loot_item {
	height: 30px;
	margin-bottom: 5px;
}
.raidPage .raid_kills .boss_details .loot_item .loot_details {
	margin-left: 7px;
}
.raidPage .raid_kills .boss_details .loot_item .loot_details .loot_dkp {
	color: red;
}
.raidPage .raid_kills .boss_details .loot_item .loot_details a {
	color: black;
	text-decoration: none;
}
.raidPage .raid_kills .boss_details .loot_item > a {
	border-bottom: 1px dotted #B2C1C9;
	color: black;
	display: block;
	margin-left: 37px;
	text-decoration: none;
}
.raidPage .raid_kills .boss_details .boss_attendees table td {
	width: 200px;
	border-left: 1px dotted #B2C1C9;
}
.raidPage .raid_kills .boss_details .boss_attendees ul {
	padding-left: 5px;
	margin: 0px;
	list-style-type: none;
}
