.userPage {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #AAAAAA;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 5px 5px 10px #888888;
	margin: 5px 2px 1px;
	padding: 5px 3px 3px 4px;
	height:100%;
}
.userPage .user_headline {
	font-size: 2.5em;
	font-family: "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
	text-decoration: none;
	border-bottom: 1px dotted #B2C1C9;
}
.userPage .user_image {
	width:160px;
	height:160px;
	margin-left:5px;
	border: 1px solid black;
	float:left;
}
.userPage img.user_image{
	display: block;
	height: 160px;
	width: 160px;
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	margin: 4px 0 0 4px;
	padding: 2px;
	box-shadow: 1px 2px 4px #888;
	float: left;
}
.userPage .user_contact {
	margin-left:5px;
	margin-right:5px;
	font-size:1.4em;
	float:left;
}
.userPage .user_charinfo {
	border: 1px solid black;
	margin-left:auto;
	margin-right:5px;
	width:auto;
	min-width:300px;
	background:#d3d3d3;
	border-radius: 5px;
	float:right;
}
.userPage .user_charinfo_image {
	
}
.userPage .user_charinfo_name {
	text-align:center;
	font-size:1.8em;
	margin-bottom:5px;
}
.userPage .user_charinfo_hp {
	width:49%;
	height:24px;
	line-height:24px;
	background-image:url(../images/bars/health.png);
	text-align:center;
	color: #FFFFFF;
	border: 1px solid black;
	border-radius: 5px;
	font-size:1.4em;
	float:left;
	font-weight:bold;
}
.userPage .user_charinfo_mana {
	margin-top: 2px;
	width:49%;
	height:24px;
	line-height:24px;
	background-image:url(../images/bars/mana.png);
	text-align:center;
	color: #FFFFFF;
	border: 1px solid black;
	border-radius: 5px;
	font-size:1.4em;
	float:left;
	font-weight:bold;
}
.userPage .user_charinfo_energy {
	margin-top: 2px;
	width:49%;
	height:24px;
	line-height:24px;
	background-image:url(../images/bars/energy.png);
	text-align:center;
	color: #FFFFFF;
	border: 1px solid black;
	border-radius: 5px;
	font-size:1.4em;
	float:left;
	font-weight:bold;
}	
.userPage .user_charinfo_rage {
	margin-top: 2px;
	width:49%;
	height:24px;
	line-height:24px;
	background-image:url(../images/bars/rage.png);
	text-align:center;
	color: #FFFFFF;
	border: 1px solid black;
	border-radius: 5px;
	font-size:1.4em;
	float:left;
	font-weight:bold;
}
.userPage .user_charinfo_runepower {
	margin-top: 2px;
	width:49%;
	height:24px;
	line-height:24px;
	background-image:url(../images/bars/runepower.png);
	text-align:center;
	color: #FFFFFF;
	border: 1px solid black;
	border-radius: 5px;
	font-size:1.4em;
	float:left;
	font-weight:bold;
}
.userPage .user_charinfo_focus {
	margin-top: 2px;
	width:49%;
	height:24px;
	line-height:24px;
	background-image:url(../images/bars/focus.png);
	text-align:center;
	color: #FFFFFF;
	border: 1px solid black;
	border-radius: 5px;
	font-size:1.4em;
	float:left;
	font-weight:bold;
}
.userPage .user_charinfo_profession {
	margin-top: 2px;
	border: 1px solid black;
	border-radius: 5px;
	margin-left:auto;
	width:49%;
	height:24px;
	background-image:url(../images/professions_1.png);
}
.userPage .user_charinfo_profession_image {
	float:left;
	width::24px;
	height:24px;
}
.userPage .user_charinfo_profession_name {
	color: #FFFFFF;
	line-height:24px;
	font-size:1.2em;
	margin-left: 2px;
}
.userPage .user_charinfo_profession_skill {
	color: #FFFFFF;
	text-align:right;
	line-height:24px;
	width:auto;
	height:inherit;
	margin-left:auto;
	font-size:1.5em;
	vertical-align:middle;
	font-weight:bold;
}
.userPage .user_charinfo_profession_skill_image {
	width:auto;
	height:inherit;
	background-image:url(../images/professions_2.png);
	float:left;
}
.userPage .user_charinfo_talents1 {
	border-radius: 5px;
	margin-left: 4px;
	margin-top: 2px;
	margin-bottom:2px;
	width: 178px;
	height: 52px;
	background-image:url(../images/talents.png);
	float:left;
}
.userPage .user_charinfo_talents2 {
	border-radius: 5px;
	margin-left: auto;
	margin-right:4px;
	margin-top: 2px;
	margin-bottom:2px;
	width: 178px;
	height: 52px;
	background-image:url(../images/talents.png);
}
.userPage .user_charinfo_talents_image {
	width:32px;
	height:32px;
	padding-top:10px;
	margin-left: 10px;
	margin-right: 10px;
	float:left;
}
.userPage .user_charinfo_talents_name {
	padding-top: 7px;
	color:#e6b103;
	font-size: 1.6em;
	height:auto;
}
.userPage .user_charinfo_talents_talents {
	color:#FFFFFF;
	font-size: 1.5em;
	margin-left:auto;
	margin-right: 5px;
	text-align:center;
}
.userPage .user_charinfo_arena {
	border-radius: 5px;
	width: 31%;
	height: auto;
	border: 1px solid black;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-bottom:2px;
	font-size:1.4em;
}
.userPage .user_loot {
	font-size:1.5em;
	width:49%;
	float:left;
	margin-left:auto;
	margin-right:auto;
	vertical-align:middle;
}
.userPage .user_raids {
	font-size:1.5em;
	width:49%;
	margin-left:auto;
	margin-right:auto;
	line-height:auto;
}