.userPage {
	background: #FFFFFF;
	border: 1px solid #AAAAAA;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 5px 5px 10px #888888;
	margin: 5px 2px 1px;
	padding: 5px 3px 3px 4px;
}
.userPage .user_headline {
	font-size: 25px;
	font-family: "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
	margin:3px 5px 5px 40px;
	border-bottom: 1px dotted #B2C1C9;
}
.userPage .user_contact {
	margin-left:5px;
	margin-right:5px;
	font-size:1.4em;
	display:inline-block;
	max-width:400px;
}
.userPage .user_contact table {
	text-align:left;
	vertical-align:top;
	font-size:12px;
	color: #333333;
}
.userPage .user_contact table th {
	width:80px;
	padding-right:10px;
	vertical-align:top;
	font-weight: bold;
	color:#999999;
}
.userPage .user_contact table td {
	padding-bottom:15px;
}
.userPage .user_contact table td a.fb {
	background-color: #5B74A8;
	border-color: #29447E #29447E #1A356E;
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	padding: 2px 6px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	color: #FFFFFF;
}
.userPage .user_charinfo {
	border: 1px solid black;
	margin:4px 5px 10px 5px;
	min-width:300px;
	background:#d3d3d3;
	border-radius: 5px;
	box-shadow: 1px 2px 4px #888;
	float:right;
	font-family: "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
}
.userPage .user_charinfo > table{
	width:100%;
}
.userPage .user_charinfo_image {
	
}
.userPage .user_charinfo_name {
	text-align:center;
	color:#FFFFFF;
	font-size:1.8em;
	margin-bottom:5px;
	position:relative;
	top:-50px;
	height:0px;
}
.userPage .user_char_class {
	color:#FFFFFF;
	font-size:1.2em;
	font-weight:bold;
	position:relative;
	float:left;
	top:-30px;
	margin-bottom:-30px;
	margin-left:5px;
	padding:5px 15px 0px 0px;
	background-color: transparent;
	background-origin: padding-box;
	background-position: right top;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}
.userPage .user_achiev_points {
	color:#FFFFFF;
	font-size:1.2em;
	font-weight:bold;
	position:relative;
	float:right;
	top:-25px;
	margin-bottom:-25px;
	margin-right:5px;
	background: url("../images/achievements.gif") no-repeat scroll left top transparent;
	padding-left: 10px;
}
.userPage .user_charinfo_hp {
	height:23px;
	line-height:23px;
	background-image:url(../images/bars/health.png);
	color: #FFFFFF;
	border: 1px solid black;
	border-radius: 5px;
	font-size:1.4em;
	width:50%;
	padding:0px 0px 0px 2px;
}
.userPage .user_charinfo_hp:before {
	content:"Gesundheit: ";
}
.userPage .user_charinfo_bar {
	height:23px;
	line-height:23px;
	color: #FFFFFF;
	border: 1px solid black;
	border-radius: 5px;
	font-size:1.4em;
	width:50%;
	padding:0px 0px 0px 2px;
}
.userPage .user_charinfo_bar.mana {
	background-image:url(../images/bars/mana.png);
}
.userPage .user_charinfo_bar.mana:before {
	content:"Mana: ";
}
.userPage .user_charinfo_bar.energy {
	background-image:url(../images/bars/energy.png);
}	
.userPage .user_charinfo_bar.energy:before {
	content:"Energie: ";
}
.userPage .user_charinfo_bar.rage {
	background-image:url(../images/bars/rage.png);
}
.userPage .user_charinfo_bar.rage:before {
	content:"Wut: ";
}
.userPage .user_charinfo_bar.runepower {
	background-image:url(../images/bars/runepower.png);
}
.userPage .user_charinfo_bar.runepower:before {
	content:"Runenmacht: ";
}
.userPage .user_charinfo_bar.focus {
	background-image:url(../images/bars/focus.png);
}
.userPage .user_charinfo_bar.focus:before {
	content:"Something of 42: ";
}

.userPage .user_charinfo_profession {
	border: 1px solid black;
	border-radius: 5px;
	height:24px;
	line-height:24px;
	background:url(../images/professions_1.png) repeat;
	padding:0px;
}
.userPage .user_charinfo_profession img{
	width:24px;
	height:24px;
	margin:0px 10px 0px 0px;
	padding:0px;
	float:left;
}
.userPage .user_charinfo_profession_name {
	color: #FFFFFF;
	line-height:24px;
	font-size:1.2em;
	margin: 0px;
	float:left;
	background:url(../images/professions_2.png) repeat-y;
	width:100%;
}
.userPage .user_charinfo_profession_skill {
	float:right;
	font-size:1.2em;
	vertical-align:middle;
	font-weight:bold;
	margin-right:2px;
}

.userPage .user_charinfo_talents1 {
	border-radius: 5px;
	width: 180px;
	height: 50px;
	background-image:url(../images/talents.png);
	padding:0px;
}
.userPage .user_charinfo_talents2 {
	border-radius: 5px;
	width: 180px;
	height: 50px;
	background-image:url(../images/talents.png);
	padding:0px;
}
.userPage .user_charinfo_talents_image img {
	display: block;
	height: 32px;
	left: 10px;
	position: relative;
	top: 10px;
	width: 32px;
}
.userPage .talent_frame {
	background-color: transparent;
	background-image: url("../images/tree-icon-frame.png");
	background-position: -4px -64px;
	background-repeat: no-repeat;
	background-size: 60px 120px;
	display: block;
	float: left;
	height: 50px;
	width: 50px;
}
.userPage .user_charinfo_talents_name {
	padding-top: 7px;
	color:#e6b103;
	font-size: 1.6em;
	height:auto;
}
.userPage .user_charinfo_talents_talents {
	color:#FFFFFF;
	font-size: 1.5em;
	text-align:center;
}

.userPage .user_charinfo_arena {
	border-radius: 5px;
	width: 31%;
	height: auto;
	border: 1px solid black;
	margin-left:3px;
	margin-right:2px;
	text-align:center;
	margin-bottom:2px;
	font-size:1.4em;
}
.userPage .two {
	clear:left;
	float:left;
}
.userPage .three {
	float:left;
}
.userPage .five {
	float:left;
}

.userPage .user_loot {
	font-size:1.5em;
	width:49%;
	float:left;
	margin-left:auto;
	margin-right:auto;
	vertical-align:middle;
}
.userPage .user_raids {
	font-size:1.5em;
	width:49%;
	margin-left:auto;
	margin-right:auto;
	line-height:auto;
}
